:root {
  font-family: Merriweather;
  font-size: large;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
  min-width: 220px;
  min-height: 100vh;
}